<div class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" <%= link_to 'Calorie Mate', controller: 'welcome' %> >Calorie Mate</a>
		</div>
		<div>
			<ul class="nav navbar-nav navbar-right">
				<li> <%= link_to 'Home', controller: 'welcome' %></li>
				<li><a href="#">Log</a></li>
				<li><%= link_to 'Menu', controller: 'foods' %></li>
			</ul>
		</div>
	</div>
</div>

<div class="container">
	<h1>Add another food for today </h1>
</div>

<div class="container">
	<%= form_for :menu, url: day_path(@day), method: :put do |m| %>
	<%= m.collection_select(:food_id, Food.all, :id, :name_for_select) %>
</div>
<div class= "container">
	<%= m.submit "Submit", class: "btn-btn-info" %>
	<% end %>
</div>

