<div class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" <%= link_to 'Calorie Mate', controller: 'welcome' %> >Calorie Mate</a>
		</div>
		<div>
			<ul class="nav navbar-nav navbar-right">
				<li> <%= link_to 'Home', controller: 'welcome' %></li>
				<li><%= link_to 'Log', controller: 'days'%></a></li>
				<li><%= link_to 'Menu', controller: 'foods' %></li>
			</ul>
		</div>
	</div>
</div>

<div class="container">
	<%#= Need to change the Day ID below to a Date %>
	<h1>Day <%= @day.id %></h1><br>
	<h3> Eaten: </h3>
	<div class="container">
		<table class="table table-striped">
			<thead>
				<th>Food</th>
				<th>Calories</th>
				<th>Protien</th>
				<th>Carbs</th>
				<th>Fat</th>
				<th colspan = "2"></th>
			</thead>
			<tbody>
				<% @day.foods.each do |f| %>
				<tr>
					<td><%= f.name %></td>
					<td><%= f.calories %></td>
					<td><%= f.protien %></td>
					<td><%= f.carbs %></td>
					<td><%= f.fat %></td>
					<td colspan="2"></td>
				</tr>
			</tbody>
			<% end %>
		</table>
	</div>
<div class="container">
	<table class="table table-bordered">
		<thead>
			<th><strong>Total Calories</strong> </th>
			<th><strong>Total Protien</strong></th>
			<th><strong>Total Carbs</strong></th>
			<th><strong>Total Fat</strong></th>
		</thead>
		<tbody>
			<td><%= @day.total_calories %> </td>
			<td><%= @day.total_protien %></td>
			<td><%= @day.total_carbs %></td>
			<td><%= @day.total_fat %></td>
		</tbody>
	</table>
</div>

<div class="btn btn-primary">
	Add Food
<%= link_to 'Add a Food', edit_day_path %>
</div>

<div class="btn btn-primary">
	Save Day
<%= link_to 'Index', days_path %>
</div>